@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    font-family: 'Fira Sans';
    transition: 150ms ease;
}
html {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}
:root {
    --body-bg-img: url('../assets/mobile-phone-wal;paper.webp');
    --card-width: 62px;
    --card-height: 80px;
}
body {
    background-image: var(--body-bg-img);
    /* background-repeat: no-repeat; */
    background-size: scale-down;
    overflow: hidden;
}
.card, .cards {
    width: var(--card-width);
    height: var(--card-height);
    background: white;
    border-radius: 8pt;
    box-shadow: 1.5px 1.5px 5px rgba(0,0,0,0.4);
    padding: 1px;
    margin: 3px;
    display: inline-block;
}
.card.pick::after {content: '♠️';}
.card.khesht::after {content: '♦️';}
.card.del::after {content: '♥️';}
.card.khaj::after {content: '♣️';}
.card::after {
    width: var(--card-width);
    height: calc(var(--card-height) / 2);
    display: flex;
    margin-top: 1.8px;
    justify-content: center;
    align-items: end;
    font-size: 2.5em;
    text-align: left;
}
.card::before {
    content: attr(number);
    font-size: 1.5em;
    margin: 5px;
}
.card.pick , .card.khaj { color: black; }
.card.khesht::before , .card.del::before { color: red; }
/* .card.cover {
    background-image: url('../assets/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.1);
    margin: 0;
} */
.card.hide{
    position: relative;
    animation: good-by 250ms forwards;
}
.card.lock {
    filter: contrast(50%);
}
.cards {
    background: transparent;
    border: 3px white solid;
}
.cards:has(.card) {
    border: 0;
}
.cards .card {
    position: absolute;
}
.cards.empty {
    background-image: url('../assets/empty.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-clip: padding-box;
}
.card:not(.lock):not(.hide):hover {
    outline: 3pt green solid;
}
.selected:not(.lock):not(.hide) {
    outline: 3pt yellow solid;
}
#game {
    width: 100vw;
    padding: 0;
}
/* #game #cell {
    =display: flex;
    =flex-direction: column;
    =align-items: center;
    =justify-content: start;
} */
#game #cell .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: calc(var(--i) * (var(--card-height) / 1.5) * -1);
    /* margin-top: -50px; */
    pointer-events: none;
}
#game #cell .row .card{
    pointer-events: all;
}
#navbar {
    position: fixed;
    width: 100vw;
    height: calc(var(--card-height) + 20px);
    left: 0; bottom: 0;
    background: #00000016;
    backdrop-filter: blur(3px);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12pt;
}
#btn-next-card {
    padding: 5px 18px;
    font-size: 1.25em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.4));
    border: 0;
    color: white;
}
#btn-next-card:active {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.4));
}
@media (max-width: 480px) {
    :root {
        --card-width: calc(100vw / 7.8);
        /* --card-height: 80px; */
    }

    #game {
        /*transform: scale(0.75);*/
    }
}

@media (max-width: 390px) {
    :root {
        --card-width: calc(100vw / 7);
    }

    #game {
        transform: scale(0.86);
        margin-top: -20pt;
    }
}

@keyframes good-by {
    /* 0% {
        top: 0;
        left: 0;
    } */
    100% {
        /* top: 500pt;
        left: 250px; */
        transform: scale(0);
        visibility: hidden;
        pointer-events: none;
    }
}